/* navbar styling */
nav{
    background-color: #161e67;
    font-family: 'Montserrat', sans-serif;
}
.navbar-toggler{
    border-color: white;
}
.navbar-brand{
    color:white;
    font-size: 38px;
}
.nav-link{
    color: white;
}
.dropdown-menu{
    color:white;
    background-color: #161e67;
}
.navbar a{
    color:white;
    margin-left: 20px;
}

/* carousel styling */

.container{
    margin-top: 10%;
    margin-bottom: 10%;
    }
.carousel{
    background-color: #ffacac;
}
.carousel img {
    border: solid 3px;
    border-color: #ff5c5c;
    margin: auto;
}

#carouselExampleControls{
    margin-top: 3%;
}

.carousel-control-prev-icon{
    background-color: black;
}

.carousel-control-next-icon{
    background-color: black;
}

/* best seller area styling */
.col{
    font-family: 'Montserrat', sans-serif;
}
.col img{
    border-radius: 10%;
}

h2{
    margin-top: 30%;
}
p{
    font-size: 15px;
    text-align: justify;
}

/* footer styling */
footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ff5c5c;
    color: white;
    text-align: center;
    font-size: 12px;
  }

#compName{
    font-size: 15px;
}
 